
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left-side {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.right-side {
    width: 50%;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 0;
}

#barcode-form {
    margin-top: 20px;
}

#barcode-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#barcode-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    max-height: 400px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form label{
    color: #0056b3;
}

form span{
    color: #0056b3;
    font-size: 14px;
}

#download-button, #pdf-download-button {
    display: inline-block;
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: #F26335 ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #F26335 ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}
#download-button2 {
    display: inline-block;
    margin-top: 4px;
    width: 140px;
    padding: 10px;
    text-align: center;
    background-color: #F26335 ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #F26335 ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}
#change-language-button{
    color: #012D6C;
}
#download-button:hover, #pdf-download-button:hover {
    background-color: #b3583a;
    border-color: #b3583a;
}
#result {
margin-top: 20px;
padding: 10px;
background-color: #f5f3f3;
border-radius: 5px;
text-align: center;
font-size: 14px;
color: #F26335 ;
font-weight: bold;
line-height: 1.5;
font-family:Verdana, Geneva, Tahoma, sans-serif
}
#english-text {
    display: none;

}
#burmese-text{
margin-top: -10px;

}
#change-language-button{
    cursor: pointer;
    text-decoration: underline;
}
.example-text{
    cursor: pointer;
}
.popup-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9999;
}

.popup-content {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
text-align: center;
}

.popup-close {
position: absolute;
top: 10px;
right: 10px;
color: #555;
font-size: 18px;
cursor: pointer;
}
